<li class="pile {{renderFlags flags}}" id="pile-{{pileNumber}}">
    <div class="pile-label">Pile #{{pileNumber}}</div>
    <div class="card-stack">
        {{#each cards}}
            {{> card this}}
        {{/each}}
    </div>
    <div class="total"><span>Total: </span><span id="pile-{{pileNumber}}-total">{{total}}</span></div>
    <div class="stat-picker-label">Ability score:
        <select id="pile-{{pileNumber}}-stat" class="stat-selector">
            <option value="Empty" selected="true">---</option>
            <option value="str">Strength</option>
            <option value="dex">Dexterity</option>
            <option value="con">Constitution</option>
            <option value="int">Intelligence</option>
            <option value="wis">Wisdom</option>
            <option value="cha">Charisma</option>
        </select>
    </div>
</li>